{% extends "base_generic.html" %}

{% block content %}
{% load static %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

</header>
<header class="masthead">
  <div class="container">
    <div class="section-title">
      <div class="section-icon wow zoomIn" data-wow-delay=".4s">
        <i class="lni lni-postcard"></i>
      </div>
      <h2 class="mt-4 mb-5 wow fadeInUp data-wow-delay=.4s">Detalle del Pago</h2>
    </div>
    <div class="row">
      <div class="card border-success mb-3" style="max-width:120rem;">
        <div class="card-header text-center">Número de Transacción: {{ pago.idProducto.stripe_product_id }} </div>
        <div class="card-body text-primary">
          <h5 class="text-center">Nombre Producto</h5>
          <h3 class="text-center text-primary">{{ pago.idProducto.nombre }} </h3>
          <br>
          <h6>Categoria del producto:</h6>
          {% if pago.idProducto.categoria %}
          <span class="h4">{{pago.idProducto.categoria.nombre}} </span>
          {% else %}
          <span class="h4">No hay Categorias asociadas a este Producto</span>
          {% endif %}
          <br>
          <h6>Cliente:</h6>
          <span class="h4">{{ pago.idUsuario.nombres }} {{ pago.idUsuario.apellidos }}</span>
          <br>
          <h6>Monto Pagado:</h6>
          <span class="h4">$ {{pago.idProducto.precioKilo|add:pago.idProducto.precioTransporte}}</span>
          <br>
          <h6>Cantidad de Kilos Comprados:</h6>
          <span class="h4">{{pago.idProducto.cantidadKG}} kg</span>
          <br>
          <h6>Estado de Pago:</h6>
          {% if pago.pagado == 1 %}
          <span class="h4 text-success">Transacción Pagada</span>
          {% endif %}
          {% if pago.pagado == 0 %}
          <span class="h4 text-danger">Transacción Cancelada</span>
          {% endif %}
          <br>     
          <hr>
          <h6 class="text-center">{{ pago.fechaPago }}</h6>
        </div>
      </div>
    </div>
  </div>
  <br>

</header>


{% endblock %}