{% extends "base_generic.html" %}

{% block content %}
{% load static %}
<header class="masthead">
    <div class="container d-flex flex-column">
<h1 class="page-section-heading text-uppercase text-secondary mb-0" > <b>{{producto.nombre}}</b>
  <br>
  
          <!--===============================================================================================-->
          {% if user.is_authenticated  %}{% if user.is_staff %}
          
         <a class="btn btn-primary" href="{% url 'producto_update' pk=producto.pk %}">Editar</a>
         <a class="btn btn-primary" href="{% url 'producto_delete' pk=producto.pk %}">Eliminar</a>
          <!--=======aqui codigo=======-->
        
          {% else %}{% endif %}{% else %}{% endif %}
          <!--===============================================================================================-->    
  
  </h1>
    
   
    <div class="row">
        <div class="col-md-4">
          <div class="embed-container">
              <iframe width="560" height="315" src={{producto.image.url}} allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
        </div>
        <div class="col-md-4">
          <br>
          <h4 class="descripcion text-secondary">Descripción del Producto:</h4>
          <br>
          <p class="texto">{{producto.descripcion}}</p>
          <br>
          <h4 class="descripcion text-secondary">Precio del Producto (CLP):</h4>
          <br>
          <p class="texto">${{producto.precio}}</p>
          <br>
          <h4 class="descripcion text-secondary">Dueño del Producto:</h4>
          <br>
          <p class="texto">{{producto.propietario}}</p>
          <br>
          <h4 class="descripcion text-secondary">Región del Producto:</h4>
          <br>

          {% if producto.region %}
            <p class="texto">{{producto.region.nombre}} </p>
          {% else %}
            <p class="texto">No hay una Región asociados a este Producto</p>

          {% endif %}
          <br>
          <a class="btn btn-primary" href="{% url 'pago' %}">Comprar Producto</a>
          
        </div>
        <br>
        <div class="embed-container"><br><br><br>
          <iframe width="1350" height="450" src={{producto.url}} allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
        </div>
        </div>
    
    </header>


{% endblock %}