{% extends "base_generic.html" %}

{% block content %}
{% load static %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<header class="masthead">
        <br>
        <div class="container">
        <div class = "row">
          <div class="col-12 col-md-6 offset-md-3">
        
          <div class="card">
            <div class="card-body">
            <h1 class="page-section-heading text-primary" > Nombre Producto</h1><h2 class="page-section-heading text-secondary" > {{producto.nombre}}</h2>
            <br>
            <iframe width="550" height="350" src={{producto.image.url}} allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
            <br>
            <h4 class="descripcion text-secondary">Categoria del Producto:</h3>
              <br>
              {% if producto.categoria %}
                <p>{{producto.categoria.nombre}} </p>
    
              {% else %}
                <p>No hay Categorias asociadas a este Producto</p>
    
              {% endif %}
              <br>
              <h4 class="descripcion text-secondary">Descripción del Producto:</h3>
              <br>
              <p class="texto">{{producto.descripcion}}</p>
              <br>
              <h4 class="descripcion text-secondary">Precio:</h3>
              <br>
              <p class="texto">${{producto.precioKilo}}</p>
              <br>
              <h4 class="descripcion text-secondary">Cantidad del Producto:</h3>
              <br>
              <p class="texto">{{producto.cantidadKG}} KG</p>
              <br>
              <br>
              <div>
                <a class="btn btn-info" href="{% url 'producto_update' pk=producto.pk %}"> Editar <span class="glyphicon glyphicon-pencil"></span></a>
                <a class="btn btn-danger" href="{% url 'producto_delete' pk=producto.pk %}"> Eliminar<span class="glyphicon glyphicon-trash"></span></a>  
              </div>
            <br>
              
            </div>
          </div>
          </div>
        </div>
      </div>

</header>


{% endblock %}
