{% extends "base_generic.html" %}

{% block content %}
{% load static %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://polyfill.io/v3/polyfill.min.js?version=3.52.1&features=fetch"></script>
<script src="https://js.stripe.com/v3/"></script>

<section>
  <div class="section-title">
    <div class="section-icon wow zoomIn" data-wow-delay=".4s">
      <i class="lni lni-tag"></i>
    </div>
    <h2 class="mt-4 mb-5 wow fadeInUp data-wow-delay=.4s">Detalles del Producto</h2>
  </div>
  <div class="container">
    <div class="detail-container rounded my-4 row wow fadeInUp data-wow-delay=.4s">
      <div class="col-md-12 ">
        <div class="row wow fadeInUp data-wow-delay=.4s">
          <div class="rounded-left col-md-6 product bg-white">
            <img class="mt-5 wow fadeInUp data-wow-delay=.4s" src="{{producto.image.url}}" width="100%" height="80%"
              alt="" style="border-radius: 15px;">
          </div>
          <div class="rounded-right col-md-6 detail bg-dange pb-5">

            


            <div class="logo text-black text-center">
              <h1>{{producto.nombre}}</h1>
              {% if producto.categoria.nombre == "Verdura" %}
              <span class="text-success h4">{{producto.categoria.nombre}}</span>
              {% endif %}
              {% if producto.categoria.nombre == "Fruta" %}
              <span class="text-warning h4">{{producto.categoria.nombre}}</span>
              {% endif %}
            </div>
            <div class="py-4 px-4">
              {% if producto.estadoPago == "PENDIENTE" %}
              <h5>Estado: <span class="text-warning">{{producto.estadoPago}}</span></h5>
              {% endif %}
              {% if producto.estadoPago == "PAGADO" %}
              <h5>Estado: <span class="text-success">{{producto.estadoPago}}</span></h5>
              {% endif %}
              {% if producto.estadoPago == "EXPIRADO" %}
              <h5>Estado: <span class="text-danger">{{producto.estadoPago}}</span></h5>
              <span class="text-secondary mb-2">Este producto al estar en estado "EXPIRADO" se rematará en los siguente días.</span>
              {% endif %}
              <br>
              <h5>Nombre Cliente: <span class="text-primary">{{producto.idCliente.nombres}}
                  {{producto.idCliente.apellidos}}</span></h5>
              <br>
              <h5>Descripción:</h5>
              <br>
              <p class="text-justify">{{producto.descripcion}}</p>
            </div>
            <div class="text-center price">
              <h2 class="list-inline-item">${{producto.precioKilo|add:producto.precioTransporte}}</h2><span class="text-info h4 list-inline-item">x
                kilo</span>
              <p>Cantidad: <span class="text-info">{{producto.cantidadKG}}</span> kg</p>
            </div>
            {% if user.is_staff %}
            <div class="text-center pt-15 mt-4">
              <a class="btn btn-warning text-center" href="{% url 'producto_update' pk=producto.pk %}">Editar<span
                  class="glyphicon glyphicon-pencil"></span></a>
              <a class="btn btn-danger text-center" href="{% url 'producto_delete' pk=producto.pk %}">Eliminar<span
                  class="glyphicon glyphicon-trash"></span></a>
            </div>
            {% endif %}
            <br>
            {% if producto.estadoPago != "PAGADO" and producto.estadoPago != "EXPIRADO" or user.is_staff %}
            <form action="{% url 'create-checkout-session' pk=producto.pk%}" method="POST">
              {% csrf_token %}
              <div class="text-center">
                <button type="submit" class="btn btn-success text-center" id="checkout-button">Comprar<span class="glyphicon glyphicon-trash"></span></button>
              </div>
            </form>
            {%else%}
            <h5 class="text-center text-danger">PRODUCTO YA NO DISPONIBLE!.</h5>
            {% endif %}
            <i class="fa fa-share-square-o" aria-hidden="true"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


{% endblock %}