{% extends "base_generic.html" %}


{% block content %}

{% load static %}
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  font-size: 14px;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

</style>



<body id="page-top">
<div class="masthead container d-flex align-items-center flex-column">


        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Región</h2>
    
        <!-- Icon Divider -->
        <div class="divider-custom">
          <div class="divider-custom-line"></div>
          <div class="divider-custom-icon">
            <i class="fas fa-book-open"></i>
          </div>
          <div class="divider-custom-line"></div>
        </div>

        <div style="width: 60%; height: 50px;">

          

         <a class="btn btn-primary" href="{% url 'region_create' %}" style="float: right; font-size: 14px;">Agregar Género 
                <span class="glyphicon glyphicon-plus"></span>
         </a>
                
        </div>
    <br>

    {% if genre_list %}
    <div style="width: 60%;">
        <table>
                <tr>
                    <th>Nombre Región</th>
                </tr>

                {% for genre in genre_list %}
                    
                        <tr>
                            <td><a href="{{ region.get_absolute_url }}"> {{ region.nombre }} </a></td>
                        </tr>
                
                    
                {% endfor %}

        </table>

        <br>

        {% if is_paginated %}
          <ul class="pagination">
          {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
          {% else %}
            <li class="disabled"><span>&laquo;</span></li>
          {% endif %}

          {% for i in paginator.page_range %}
            {% if page_obj.number == i %}
              <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
            {% else %}
              <li><a href="?page={{ i }}">{{ i }}</a></li>
            {% endif %}
          {% endfor %}

          {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
          {% else %}
            <li class="disabled"><span>&raquo;</span></li>
          {% endif %}
          </ul>
        {% endif %}

    </div>
    {% else %}
        <p>No hay Regiones disponibles</p>

    {% endif %}
</div>
</body>
{% endblock %}