{% extends "base_generic.html" %}

{% block content %}
{% load static %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

</header>
<header class="masthead">
  <div class="container">
    <div class="section-title">
      <div class="section-icon wow zoomIn" data-wow-delay=".4s">
        <i class="lni lni-postcard"></i>
      </div>
      <h2 class="mt-4 mb-5 wow fadeInUp data-wow-delay=.4s">Detalle de la subasta</h2>
    </div>
    <div class="row">
      <div class="card border-success mb-3" style="max-width:120rem;">
        <div class="card-header text-center">Subasta</div>
        <div class="card-body text-primary">
          <h5 class="text-center">Nombre Producto</h5>
          <h3 class="text-center text-primary">{{subastaproducto.nombreProducto}}</h3>
          <br>
          <h6>Categoria del producto:</h6>
          {% if subastaproducto.categoria %}
          <span class="h4">{{subastaproducto.categoria.nombre}} </span>
          {% else %}
          <span class="h4">No hay Categorias asociadas a este Producto</span>
          {% endif %}
          <br>
          <h6>Cantidad de Kilos Ofrecidos:</h6>
          <span class="h4">{{subastaproducto.cantidadKG}} kg</span>
          <br>
          <h6>Precio Ofrecido para la Subasta:</h6>
          <span class="h4">$ {{subastaproducto.precioSubasta}}</span>
          <br>
          <h6>Estado Actual de la Subasta:</h6>
          {% if subastaproducto.estadoSubasta == "EN PROCESO" %}
          <span class="text-warning h4">{{subastaproducto.estadoSubasta}}</span>
          {% endif %}
          {% if subastaproducto.estadoSubasta == "ACEPTADA" %}
          <span class="text-success h4">{{subastaproducto.estadoSubasta}}</span>
          {% endif %}
          {% if subastaproducto.estadoSubasta == "RECHAZADA" %}
          <span class="text-danger h4">{{subastaproducto.estadoSubasta}}</span>
          {% endif %}
          <br>
          <h6>Propietario de la Subasta:</h6>
          <span class="h4">{{subastaproducto.user.nombres}} {{subastaproducto.user.apellidos}}</span>
          <hr>
          <h6 class="text-center">{{ subastaproducto.fechaSubasta }}</h6>
        </div>

      </div>
    </div>
  </div>
  <br>

</header>


{% endblock %}