<!DOCTYPE html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    {% block title %}<title>AgriculRED - La Red de los Agricultores</title>{% endblock %}
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {% load static %}
    <link href="{% static 'images/logo/verduras.png' %}" rel="icon" type="image/x-icon" />

    {% if messages %}
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">{{ message }}</div>
    {% endfor %}
    {% endif %}

    <!-- Web Font -->
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">

    <!-- ========================= CSS here ========================= -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/LineIcons.2.0.css' %}" />
    <link rel="stylesheet" href="{% static 'css/animate.css' %}" />
    <link rel="stylesheet" href="{% static 'css/tiny-slider.css' %}" />
    <link rel="stylesheet" href="{% static 'css/glightbox.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/main.css' %}" />

</head>

<body>
    <!-- Preloader -->
    <div class="preloader">
        <div class="preloader-inner">
            <div class="preloader-icon">
                <span></span>
                <span></span>
            </div>
        </div>
    </div>
    <!-- /End Preloader -->

    <!-- Start Header Area -->
    <header class="header navbar-area">
        <!-- Toolbar Start -->
        <div class="toolbar-area">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-md-6 col-12">
                        <div class="toolbar-social">
                            <ul>
                                <li><span class="title">Siguenos: </span></li>
                                <li><a href="https://web.facebook.com/profile.php?id=100086647506740"><i class="lni lni-facebook-original"></i></a></li>
                                <li><a href="https://twitter.com/Feria_Virtual1"><i class="lni lni-twitter-original"></i></a></li>
                                <li><a href="https://www.instagram.com/feriaa_virtuaal/"><i class="lni lni-instagram"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-12">
                        
                        <div class="toolbar-login">
                            <div class="button">
                                {% if user.is_authenticated  %}
                                <a href="{% url 'logout' %}">Cerrar Sesión</a>
                                {% else %}
                                <a href="{% url 'login' %}" class="btn">Ingresar</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Toolbar End -->
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-12">
                <div class="nav-inner">
                    <nav class="navbar navbar-expand-lg">
                        <a class="navbar-brand" href="{% url 'index' %}">
                            <img src="{% static 'images/logo/logogog.png' %}" alt="Logo">
                        </a>
                        <button class="navbar-toggler mobile-menu-btn" type="button" data-bs-toggle="collapse"
                            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                            <span class="toggler-icon"></span>
                            <span class="toggler-icon"></span>
                            <span class="toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse sub-menu-bar" id="navbarSupportedContent">
                            <ul id="nav" class="navbar-nav ms-auto">
                                <li class="nav-item"><a href="{% url 'index' %}">Inicio</a></li>
                                <li class="nav-item">
                                    <a class="page-scroll dd-menu collapsed" href="javascript:void(0)"
                                        data-bs-toggle="collapse" data-bs-target="#submenu-1-4"
                                        aria-controls="navbarSupportedContent" aria-expanded="false"
                                        aria-label="Toggle navigation">Productos</a>
                                    <ul class="sub-menu collapse" id="submenu-1-4">
                                        {% if user.is_authenticated  %}
                                        <li class="nav-item"><a href="{% url 'productos' %}">Agregar Productos</a></li>
                                        {% endif %}
                                        <li class="nav-item"><a href="{% url 'productoslista' %}">Todos los Productos</a></li>
                                    </ul>
                                </li>
                                <li class="nav-item">
                                    <a class="page-scroll dd-menu collapsed" href="javascript:void(0)"
                                        data-bs-toggle="collapse" data-bs-target="#submenu-1-4"
                                        aria-controls="navbarSupportedContent" aria-expanded="false"
                                        aria-label="Toggle navigation">Comunidad</a>
                                    <ul class="sub-menu collapse" id="submenu-1-4">
                                        <li class="nav-item"><a href="{% url 'noticias' %}">Noticias</a></li>
                                    </ul>
                                </li>
                                <li class="nav-item"><a href="{% url 'nosotros' %}">Nosotros</a></li>
                                <li class="nav-item"><a href="{% url 'contacto' %}">Contáctanos</a></li>
                            </ul>
                        </div> <!-- navbar collapse -->
                    </nav> <!-- navbar -->
                </div>
                </div>
            </div> <!-- row -->
        </div> <!-- container -->
    </header>
    <!-- End Header Area -->


    {% block content %}{% endblock %}

    <!-- Start Footer Area -->
    <footer class="footer">
        <!-- Start Middle Top -->
        <div class="footer-middle">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-12">
                        <!-- Single Widget -->
                        <div class="f-about single-footer">
                            <div class="logo">
                                <a href="#"><img src="{% static 'images/logo/logogog.png' %}" alt="Logo"></a>
                            </div>
                            <p>Compañia fundada en 2022, buscando ampliar Horizontes en el extranjero y mejorar el servicio al consumidor.</p>
                        </div>
                        <!-- End Single Widget -->
                    </div>
                    <div class="col-lg-3 col-md-6 col-12">
                        <!-- Single Widget -->
                        <div class="single-footer sm-custom-border recent-blog">
                            <h3>Contactate con nosotros</h3>
                            <ul>
                                <li><a href="mailto:virtual.feria.empresa@gmail.com">Correo: virtual.feria.empresa@gmail.com</a></li>
                                <li><a href="https://web.facebook.com/profile.php?id=100086647506740">Facebook</a></li>
                                <li><a href="https://www.instagram.com/feriaa_virtuaal/">Instagram</a></li>
                                <li><a href="https://twitter.com/Feria_Virtual1">Twitter</a></li>
                                
                            </ul>
                        </div>
                        <!-- End Single Widget -->
                    </div>
                    <div class="col-lg-3 col-md-6 col-12">
                        <!-- Single Widget -->
                        <div class="single-footer sm-custom-border f-link">
                            <h3>Enlaces de Interés</h3>
                            <ul>
                                <li><a href="https://www.gob.cl">Gobierno de Chile</a></li>
                                <li><a href="https://homer.sii.cl">SII - Chile</a></li>
                                <li><a href="https://www.gob.cl/pasoapaso/">Covid 19 - Chile</a></li>
                                <li><a href="https://www.minagri.gob.cl">Minagri - Chile</a></li>
                                <li><a href="https://www.odepa.gob.cl">Odepa Gob - Chile</a></li>
                            </ul>
                        </div>
                        <!-- End Single Widget -->
                    </div>
                    <div class="col-lg-3 col-md-6 col-12">
                        <!-- Single Widget -->
                        <div class="single-footer footer-newsletter">
                            <h3>Soporte</h3>
                            <p>¡Si requieres ayuda no dudes en contactarte con nosotros!</p>
                                <div class="button">
                                    <a href="{% url 'contacto' %}" class="btn">Ir al Soporte</a>
                                </div>
                        </div>
                        <!-- End Single Widget -->
                    </div>
                </div>
            </div>
        </div>
        <!--/ End Footer Middle -->
        <!-- Start Footer Bottom -->
        <div class="footer-bottom">
            <div class="container">
                <div class="inner">
                    <div class="row">
                        <div class="col-12">
                            <div class="left">
                                <p>Diseñado y Creado por<a href="#" rel="nofollow"
                                        target="_blank">Chimp's Company</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Footer Middle -->
    </footer>
    <!--/ End Footer Area -->

    <!-- ========================= JS here ========================= -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/count-up.min.js' %}"></script>
    <script src="{% static 'js/wow.min.js' %}"></script>
    <script src="{% static 'js/tiny-slider.js' %}"></script>
    <script src="{% static 'js/glightbox.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
    <script type="text/javascript">
        //========= Hero Slider 
        tns({
            container: '.hero-slider',
            items: 1,
            slideBy: 'page',
            autoplay: false,
            mouseDrag: true,
            gutter: 0,
            nav: true,
            controls: false,
            controlsText: ['<i class="lni lni-arrow-left"></i>', '<i class="lni lni-arrow-right"></i>'],
        });
        //====== Clients Logo Slider
        tns({
            container: '.client-logo-carousel',
            slideBy: 'page',
            autoplay: true,
            autoplayButtonOutput: false,
            mouseDrag: true,
            gutter: 15,
            nav: false,
            controls: false,
            responsive: {
                0: {
                    items: 1,
                },
                540: {
                    items: 3,
                },
                768: {
                    items: 4,
                },
                992: {
                    items: 4,
                },
                1170: {
                    items: 6,
                }
            }
        });
        //========= glightbox
        GLightbox({
            'href': 'https://www.youtube.com/watch?v=r44RKWyfcFw&fbclid=IwAR21beSJORalzmzokxDRcGfkZA1AtRTE__l5N4r09HcGS5Y6vOluyouM9EM',
            'type': 'video',
            'source': 'youtube', //vimeo, youtube or local
            'width': 900,
            'autoplayVideos': true,
        });
    </script>
</body>
</html>